body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: rgb(221, 204, 204);
    color: #392e2e;
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    padding: 1rem;
}
aside {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}
header {
    background-color: #7dcdb6;
    color: white
    
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

header ul li {
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    margin-right: auto; 
}

article {
    background-color: #828385;
    padding: 1rem;
    
}

aside {
    background-color: #898e95;
    padding: 1rem;
    border-left: 4px solid black;
}

footer {
    background-color: #c6d1f0;
    color: rgb(156, 179, 190);
    text-align: center;
    padding: 0.5rem;
}

